[report]
precision = 2
show_missing = True
omit = venv/*
      venv\*
ignore_errors = True
exclude_lines =
    except Exception as e:
    except Exception:
    return {'error': e.message}

[run]
#branch = True
source = src
include = src/*
          src\*

[html]
directory = coverage/

